@page "/members"
@inject ILibraryService LibraryService
@inject NavigationManager NavigationManager
@using System.Net.Http.Json

<h1>Members</h1>

@if (LibraryService.users == null)
{
    <p>Loading users...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Reader Number</th>
                <th>Birth Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in LibraryService.users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Address</td>
                    <td>@user.ReaderNumber</td>
                    <td>@user.BirthDate.ToShortDateString()</td>
                    <td><button class="btn btn-danger" @onclick="@(() => DeleteUser(user.ReaderNumber))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="members/add" class="btn btn-primary">Add New User</a>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LibraryService.GetUsers();
        }
        catch (Exception ex)
        {
                Console.WriteLine($"Failed to retrieve users: {ex.Message}");
        }
    }

    private async Task DeleteUser(int readerNumber)
    {
        try
        {
            await LibraryService.DeleteUser(readerNumber);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Failed to delete user: {ex.Message}");
        }
    }
}